<div class="animate__animated animate__fadeIn">
  <div class="flex align-items-center gap-3 m-4">
    <button pButton icon="pi pi-arrow-left" pTooltip="Voltar a página anterior" tooltipPosition="top"
      class="border-circle" (click)="voltar()"></button>

    <h2>Empresa - Cadastro</h2>
  </div>

  <section class="flex justify-content-center align-content-center m-4">
    <form [formGroup]="formGroup" class="flex flex-column mb-4 shadow-2 p-4 w-full">
      <div class="flex md:flex-row flex-column justify-content-between">
        <div class="flex flex-column mb-4 w-full">
          <label class="font-bold mb-2 text-lg">Nome <small style="color: red; font-weight: bold;">*</small></label>
          <input type="text" id="nome" class="h-3rem" pInputText formControlName="nome" required />
        </div>
      </div>

      <div class="flex md:flex-row flex-column justify-content-between">
        <div class="flex flex-column mb-4 size-width">
          <label class="font-bold mb-2 text-lg">CNPJ <small style="color: red; font-weight: bold;">*</small></label>

          <p-inputMask class="custom" mask="99.999.999/9999-99" formControlName="cnpj"
            placeholder="99.999.999/9999-99" />
        </div>

        <div class="flex flex-column mb-4 size-width">
          <label class="font-bold mb-2 text-lg">Telefone <small style="color: red; font-weight: bold;">*</small></label>
          <p-inputMask class="custom" mask="(99)99999-9999" formControlName="telefone"
            placeholder="(99) 99999-9999" />
        </div>
      </div>

      <div class="flex md:flex-row flex-column justify-content-between">
        <div class="flex flex-column mb-4 w-full">
          <label class="font-bold mb-2 text-lg">Email<small style="color: red; font-weight: bold;">*</small></label>
          <input type="text" class="w-full h-3rem" pInputText formControlName="email" required />
        </div>
      </div>

      <div class="flex md:flex-row flex-column justify-content-between">
        <div class="flex flex-column mb-4 w-full">
          <label class="font-bold mb-2 text-lg">Endereço <small style="color: red; font-weight: bold;">*</small></label>
          <input type="text" class="h-3rem" pInputText formControlName="endereco" required />
        </div>
      </div>

      <div class="flex align-items-end justify-content-end mt-4 w-full">
        <button icon="pi pi-save" pButton class="flex justify-content-center h-3rem w-full md:w-4" (click)="salvar()">
          <span class="text-center w-full">Salvar</span>

        </button>
      </div>
    </form>
  </section>
</div>